# Entorno virtual y dependencias locales
.venv/
__pycache__/
*.pyc
.direnv/

# Archivos sensibles
.env
*.log
*.sqlite
*.db

# Archivos temporales
*.csv
*.xlsx
.ipynb_checkpoints/
.DS_Store

# Carpeta de tests temporales
htmlcov/
.coverage